# Ignore generated data
data/

# Keep only predictions CSV from results
results/*
!results/predicts/
!results/predicts/*.csv
!results/metrics/
!results/metrics/**
!results/features/
!results/features/**
!results/viz/
!results/viz/**

# Byte-compiled / cache files
__pycache__/
*.py[cod]
