models/daily/*.pkl filter=lfs diff=lfs merge=lfs -text
models/daily/*.keras filter=lfs diff=lfs merge=lfs -text
models/weekly/*.pkl filter=lfs diff=lfs merge=lfs -text
models/weekly/*.keras filter=lfs diff=lfs merge=lfs -text
